.scroll-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  margin: 16px 0;
}

.scroll-container a {
  flex: 0 0 calc(100% / var(--posters-displayed));
}

.nav-left,
.nav-right {
  padding: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text);
  border: none;
  cursor: pointer;
  visibility: hidden;
  border: 1px solid transparent;
}

.nav-left:hover,
.nav-right:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.nav-left:focus-visible,
.nav-right:focus-visible {
  background-color: rgba(0, 0, 0, 0.75);
  outline: none;
  border: 1px solid #9ecaed;
}

.nav-left {
  margin-right: 4px;
}

.nav-right {
  margin-left: 4px;
}

@media (max-width: 735px) {
  .nav-left img,
  .nav-right img {
    width: 30px;
    height: 30px;
  }
}
